AnchorPane{
    -fx-background-color: #fff;
}


#vBoxPai{
    -fx-alignment: center;
    -fx-pref-width: 350;
    -fx-pref-height: 291;
    -fx-background-color: #e5f8fd;
    -fx-border-width: 2;          /* Largura da borda */
    -fx-border-radius: 15;        /* Bordas arredondadas na borda */
    -fx-padding: 10;  
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, -4, 4);
    -fx-spacing: 20;
}

Label{
    -fx-font-size: 12px;
    -fx-text-fill: #565663;
    -fx-padding: 10;
}

.textField{
    -fx-background-color: #a9ddb7;
    -fx-max-height: 20;
    -fx-max-width: 170;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 2);
}

.comboBox{
    -fx-background-color: #A9DDDD;
    -fx-max-height: 20;
    -fx-max-width: 170;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, -4, 4);
    -fx-cursor: hand;
}


#botaoConfirma{
    -fx-pref-height: 29;
    -fx-pref-width: 111;
    -fx-background-color: #74cd8c;
    -fx-text-fill: #004412;
    -fx-border-width: 2;          /* Largura da borda */
    -fx-border-radius: 15;        /* Bordas arredondadas na borda */
    -fx-padding: 10;  
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, -4, 4);
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-font-style: Bold;
}

#botaoLink{
    -fx-font-size: 12;
    -fx-cursor: hand;
    -fx-text-fill: #565663;
    -fx-background-color: #e5f8fd;
}

#botaoCadastro:hover{
    -fx-underline: true;
}